In [1]:
import pandas as pd
import tqdm
import sys

In [2]:
df = pd.read_csv('../datasets/mnist_test.csv')
df.head()

,label,1x1,1x2,1x3,1x4,1x5,1x6,1x7,1x8,1x9,...,28x19,28x20,28x21,28x22,28x23,28x24,28x25,28x26,28x27,28x28
0,7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [3]:
print(min(df['label']))
print(max(df['label']))

0
9

In [4]:
def row_to_bespoke_string(row):
    label = row['label']
    out_vec_list = ["0"] * 10 # min 0, max 9 data label to 10 vector
    out_vec_list[label] = "1"
    out_vec_string = " ".join(out_vec_list)
    row.drop('label')
    in_vec_string = " ".join([str(i/255) for i in list(row.drop('label'))])
    return in_vec_string + ", " + out_vec_string

In [5]:
def bespoke_format(df, filename):
    original_stdout = sys.stdout
    with open("../datasets/" + filename, 'w') as f:
        sys.stdout = f
        for index, row in tqdm.tqdm(df.iterrows()):
            print(row_to_bespoke_string(row))
        sys.stdout = original_stdout

In [7]:
train_df = pd.read_csv('../datasets/mnist_train.csv')
test_df  = pd.read_csv('../datasets/mnist_test.csv')

In [8]:
bespoke_format(train_df, "mnist_train_formatted.txt")

60000it [03:39, 273.60it/s]

In [ ]:
# takes 4 minutes

In [9]:
bespoke_format(test_df, "mnist_test_formatted.txt")

10000it [00:39, 256.06it/s]